@import '~node_modules/modern-normalize/modern-normalize.css';
.blog-section__button {
  font-family: "Montserrat";
  margin-left: auto;
  margin-right: auto;
  width: 170px;
  height: 40px;
  background: #E86F54;
  border-radius: 38px;
  color: #FFFFFF;
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  display: block;
  padding: 8px 39px;
  cursor: pointer;
  transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1) 200ms, background-color 0.5s cubic-bezier(0.19, 1, 0.22, 1) 200ms, color 0.5s cubic-bezier(0.19, 1, 0.22, 1) 200ms, box-shadow 0.5s cubic-bezier(0.19, 1, 0.22, 1) 200ms;
}
@media screen and (min-width: 768px) {
  .blog-section__button {
    width: 280px;
    height: 64px;
    font-size: 28px;
    line-height: 0.86;
    padding: 16px 32px;
  }
}
.blog-section__button:hover, .blog-section__button:focus {
  background-color: transparent;
  color: #E86F54;
  box-shadow: 0px 0px 10px #E86F54;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  outline: solid red 1px;
}
@media screen and (min-width: 320px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.delivery-section {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 320px) {
  .delivery-section {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .delivery-section {
    width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .delivery-section {
    width: 1280px;
  }
}
.delivery-section__title {
  margin-bottom: 32px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}
.delivery-section__title::after {
  content: "";
  display: block;
  width: 100%;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 130px;
  right: 0;
}
@media screen and (min-width: 768px) {
  .delivery-section__title {
    font-size: 44px;
    line-height: 1.23;
  }
}
@media screen and (min-width: 768px) {
  .delivery-section__title {
    margin-bottom: 60px;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.21;
    color: #000000;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
  }
  .delivery-section__title::after {
    content: "";
    display: block;
    width: 100%;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 255px;
    right: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .delivery-section__title {
    font-size: 44px;
    line-height: 1.23;
  }
}
@media screen and (min-width: 1280px) {
  .delivery-section__title {
    margin-bottom: 80px;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.21;
    color: #000000;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
  }
  .delivery-section__title::after {
    content: "";
    display: block;
    width: 100%;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 240px;
    right: 0;
  }
}
@media screen and (min-width: 1280px) and (min-width: 768px) {
  .delivery-section__title {
    font-size: 44px;
    line-height: 1.23;
  }
}
.delivery-section__list {
  list-style: none;
  padding-left: 8px;
}
@media screen and (min-width: 1280px) {
  .delivery-section__list {
    padding-left: 81px;
  }
}
.delivery-section__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .delivery-section__item {
    width: 677px;
    height: 64px;
  }
}
@media screen and (min-width: 1280px) {
  .delivery-section__item {
    width: 100%;
    height: 84px;
  }
}
.delivery-section__item:not(:last-child) {
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .delivery-section__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .delivery-section__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
.delivery-section__text-span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .delivery-section__text-span {
    width: 544px;
    font-size: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .delivery-section__text-span {
    width: 800px;
    font-size: 32px;
    line-height: 1.22;
  }
}
.delivery-section__number-span {
  border: solid black 1px;
  border-radius: 50%;
  text-align: center;
  margin-right: 8px;
  list-style: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .delivery-section__number-span {
    width: 64px;
    height: 64px;
    font-size: 26px;
    line-height: 1.21;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .delivery-section__number-span {
    margin-right: 56px;
  }
}
.delivery-section__number-span:hover, .delivery-section__number-span:focus {
  background-color: transparent;
  color: #E86F54;
  box-shadow: 0px 0px 10px #E86F54;
}
.delivery-section__img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 26px;
  max-width: 320px;
  height: 135px;
}
@media screen and (min-width: 768px) {
  .delivery-section__img {
    height: 264px;
    margin-top: 40px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .delivery-section__img {
    height: 391px;
    margin-top: 60px;
    max-width: 1280px;
  }
}

.blog-section {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .blog-section {
    margin-top: 100px;
  }
}
.blog-section__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
  color: #000000;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  margin-bottom: 32px;
}
.blog-section__title::after {
  content: "";
  display: block;
  width: 100%;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 85px;
  right: 0;
}
@media screen and (min-width: 768px) {
  .blog-section__title {
    font-size: 44px;
    line-height: 1.23;
  }
}
@media screen and (min-width: 768px) {
  .blog-section__title {
    margin-bottom: 60px;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.21;
    color: #000000;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
  }
  .blog-section__title::after {
    content: "";
    display: block;
    width: 100%;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 143px;
    right: 0;
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .blog-section__title {
    font-size: 44px;
    line-height: 1.23;
  }
}
@media screen and (min-width: 1280px) {
  .blog-section__title {
    margin-bottom: 122px;
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px;
    line-height: 1.21;
    color: #000000;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
  }
  .blog-section__title::after {
    content: "";
    display: block;
    width: 100%;
    border: 1px solid black;
    position: absolute;
    top: 50%;
    left: 150px;
    right: 0;
  }
}
@media screen and (min-width: 1280px) and (min-width: 768px) {
  .blog-section__title {
    font-size: 44px;
    line-height: 1.23;
  }
}
.blog-section__sub-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 28px;
  font-size: 18px;
  line-height: 1.22;
}
@media screen and (min-width: 768px) {
  .blog-section__sub-title {
    margin-bottom: 40px;
    margin-top: 32px;
    font-size: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .blog-section__sub-title {
    margin-bottom: 40px;
    margin-top: 44px;
  }
}
.blog-section__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blog-section__item:not(:last-child) {
  margin-right: 32px;
}
.blog-section__slider {
  display: flex;
}

.slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-slide img {
  margin: 0 auto;
}

.slick-next:before, .slick-prev:before {
  color: #E86F54;
}/*# sourceMappingURL=index.css.map */