%text {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 32px;
    line-height: 1.2;
    color: #000000;
}

%button {
    font-family: 'Montserrat';
    margin-left: auto;
    margin-right: auto;
    width: 170px;
    height: 40px;
    background: $button-color;
    border-radius: 38px;
    color: #FFFFFF;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33; 
    display: block;
    padding: 8px 39px;
    cursor: pointer;
    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1) 200ms,
    background-color 0.5s cubic-bezier(0.19, 1, 0.22, 1) 200ms,
    color 0.5s cubic-bezier(0.19, 1, 0.22, 1) 200ms, 
    box-shadow 0.5s cubic-bezier(0.19, 1, 0.22, 1) 200ms  ;
    
    @media screen and (min-width: 768px) {
        width: 280px;
        height: 64px;
        font-size: 28px;
        line-height: 0.86; 
        padding: 16px 32px;
    }

        &:hover,&:focus {
            background-color:transparent;
            color: $button-color-dark; 
            box-shadow: 0px 0px 10px $button-color-dark;
        }
}   