<section class="about">
  <div class="container">
    <h2 class="about__title">ABOUT</h2>
    <div class="about__info">
        <p class="about__text">
        We are a minimalistic flower studio. We love people and flowers.
        Therefore, every day we give people the beauty and joy creating stylish
        and modern masterpieces. Every bouquet we create is unique as you are.
        </p>
        <picture>
            <source srcset="./images/about-mobile@1x.jpg 1x, ./images/about-mobile@2x.jpg 2x" media="(max-width: 767px)">
            <source srcset="./images/about-desktop@1x.jpg 1x, ./images/about-desktop@2x.jpg 2x" media="(min-width: 1200px)">
            <source srcset="./images/about-tablet@1x.jpg 1x, ./images/about-tablet@2x.jpg 2x" media="(min-width: 768px)">
            <img src="./images/about-desktop@1x.jpg" alt="flower">
        </picture>
    </div>
    
  </div>
</section>
