<section class="blog-section">
    <div class="container">
        <h2 class="blog-section__title">Blog</h2>
            <div class="my_slider">
                <div><img src="./images/blog1-desktop@1x.jpg" alt=""></div>
                <div><img src="./images/blog2-desktop@1x.jpg" alt=""></div>
                <div><img src="./images/blog3-desktop@1x.jpg" alt=""></div>
                <div><img src="./images/blog1-desktop@1x.jpg" alt=""></div>
                <div><img src="./images/blog2-desktop@1x.jpg" alt=""></div>
                <div><img src="./images/blog3-desktop@1x.jpg" alt=""></div>
            </div>
        <h5 class="blog-section__sub-title">Follow to our newsletter</h5>
        <button class="blog-section__button" type="button">Subscribe</button>
        <div class="backdrop">
            <form class="blog-section__modal-form">
                <img class="blog-section__img" src="./images/blog-modal-desktop@1x.jpg" alt="flover">
                <div class="blog-section__modal-wrap">
                    <button class="blog-section__close-button" type="button"><svg width="24" height="24"><use href="./images/symbol-defs.svg#cross"></use></svg></button>
                    <h2 class="blog-section__modal-title">Follow to our newsletter</h2>
                    <p class="blog-section__modal-info">Be the first  to get exclusive offers and the latest  news on our product directly in your box.</p>
                    <label for="">
                        <p class="blog-section__label">Email</p>
                        <input class="blog-section__input" type="email" placeholder="Your email">
                    </label>
                    <button class="blog-section__modal-button" type="submit">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</section>