<section class="blog-section">
    <div class="container">
        <h2 class="blog-section__title">Blog</h2>
        <div class="my_slider">
            <div>
                <picture>
                    <source srcset="./images/blog1-mobile@1x.jpg 1x, ./images/blog1-mobile@2x.jpg 2x" media="(max-width: 767px)">
                    <source srcset="./images/blog1-desktop@1x.jpg 1x, ./images/blog1-desktop@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./images/blog1-tablet@1x.jpg 1x, ./images/blog1-tablet@2x.jpg 2x" media="(min-width: 768px)">
                    
                    <img src="./images/blog1-desktop@1x.jpg" alt="flower">
                </picture>
            </div>
            <div>
                <picture>
                    <source srcset="./images/blog2-mobile@1x.jpg 1x, ./images/blog2-mobile@2x.jpg 2x" media="(max-width: 767px)">
                    <source srcset="./images/blog2-desktop@1x.jpg 1x, ./images/blog2-desktop@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./images/blog2-tablet@1x.jpg 1x, ./images/blog2-tablet@2x.jpg 2x" media="(min-width: 768px)" width="300">
                    
                    <img src="./images/blog2-desktop@1x.jpg" alt="flower">
                </picture>
            </div>
            <div>
                <picture>
                    <source srcset="./images/blog3-mobile@1x.jpg 1x, ./images/blog3-mobile@2x.jpg 2x" media="(max-width: 767px)">
                    <source srcset="./images/blog3-desktop@1x.jpg 1x, ./images/blog3-desktop@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./images/blog3-tablet@1x.jpg 1x, ./images/blog3-tablet@2x.jpg 2x" media="(min-width: 768px)">
                    
                    <img src="./images/blog3-desktop@1x.jpg" alt="flower">
                </picture>
            </div>
            <div>
                <picture>
                    <source srcset="./images/blog1-mobile@1x.jpg 1x, ./images/blog1-mobile@2x.jpg 2x" media="(max-width: 767px)">
                    <source srcset="./images/blog1-desktop@1x.jpg 1x, ./images/blog1-desktop@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./images/blog1-tablet@1x.jpg 1x, ./images/blog1-tablet@2x.jpg 2x" media="(min-width: 768px)">
                    
                    <img src="./images/blog1-desktop@1x.jpg" alt="flower">
                </picture>
            </div>
            <div>
                <picture>
                    <source srcset="./images/blog2-mobile@1x.jpg 1x, ./images/blog2-mobile@2x.jpg 2x" media="(max-width: 767px)">
                    <source srcset="./images/blog2-desktop@1x.jpg 1x, ./images/blog2-desktop@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./images/blog2-tablet@1x.jpg 1x, ./images/blog2-tablet@2x.jpg 2x" media="(min-width: 768px)">
                    
                    <img src="./images/blog2-desktop@1x.jpg" alt="flower">
                </picture>
            </div>
            <div>
                <picture>
                    <source srcset="./images/blog3-mobile@1x.jpg 1x, ./images/blog3-mobile@2x.jpg 2x" media="(max-width: 767px)">
                    <source srcset="./images/blog3-desktop@1x.jpg 1x, ./images/blog3-desktop@2x.jpg 2x" media="(min-width: 1280px)">
                    <source srcset="./images/blog3-tablet@1x.jpg 1x, ./images/blog3-tablet@2x.jpg 2x" media="(min-width: 768px)">
                    
                    <img src="./images/blog3-desktop@1x.jpg" alt="flower">
                </picture>
            </div>
        </div>
        <h5 class="blog-section__sub-title">Follow to our newsletter</h5>
        <button class="blog-section__button" type="button" data-open-blog-modal>Subscribe</button>
    </div>
</section>