<section class="blog-section">
    <div class="container">
        <h2 class="blog-section__title">Blog</h2>
            <div class="my_slider">
                <div><img src="./images/blog1-desktop@1x.jpg" alt=""></div>
                <div><img src="./images/blog2-desktop@1x.jpg" alt=""></div>
                <div><img src="./images/blog3-desktop@1x.jpg" alt=""></div>
                <div><img src="./images/blog1-desktop@1x.jpg" alt=""></div>
                <div><img src="./images/blog2-desktop@1x.jpg" alt=""></div>
                <div><img src="./images/blog3-desktop@1x.jpg" alt=""></div>
            </div>
        <h5 class="blog-section__sub-title">Follow to our newsletter</h5>
        <button class="blog-section__button" type="button">Subscribe</button>
    </div>
</section>