<div class="container">   
    <section class="delivery-section">
        <h2 class="delivery-section__title">Delivery</h2>
        <div class="delivery-section__slash"></div>
        <ul class="delivery-section__list">
            <li class="delivery-section__item"><span class="delivery-section__number-span">1</span><span class="delivery-section__text-span">Choose your bouquet and make an order on website</span></li>
            <li class="delivery-section__item"><span class="delivery-section__number-span">2</span><span class="delivery-section__text-span">Wait for the call to clarify the details of the order.You can pay online or to the courier</span></li>
            <li class="delivery-section__item"><span class="delivery-section__number-span">3</span><span class="delivery-section__text-span">Wait for the delivery at the selected time or pick upthe order from the store</span></li>
            <li class="delivery-section__item"><span class="delivery-section__number-span">4</span><span class="delivery-section__text-span">Make someone happy or enjoy yourself</span></li>
        </ul>
    </section>
</div>
<img class="delivery-section__img" src="./images/delivery-desktop@1x.jpg" alt="flovers">