<footer>
  <div class="container flex-container">
    <div class="footer-container1">

      <svg class="footer-lable">
        <use href="./images/symbol-defs.svg#logo-desktop-tablet"></use>
      </svg>

      <div class="footer-navigation">
        <h2 class="footer-title">Navigation</h2>
        <p class="footer-text">Anemone</p>
        <p class="footer-text">About us</p>
        <p class="footer-text">Store</p>
        <p class="footer-text">Delivery</p>
      </div>
      <div class="footer-openingtimes">
        <h2 class="footer-title">Opening times</h2>
        <p class="footer-text">Every day 9:00 - 22:00</p>
      </div>
    </div>
    <div class="footer-container2">
      <div class="footer-contacts">
        <h2 class="footer-title">Contacts</h2>
        <a class="footer-href" href="tel:+38 063 123 45 67">+38 063 123 45 67</a>
        <a class="footer-mail" href="mail:anemonestudio@example.com">anemonestudio@example.com</a>
        <address class="footer-href" href="adress:Reitarska Street, 11 Kyiv, Ukraine">Reitarska Street, 11 Kyiv, Ukraine</address>     
      </div>
      <div class="footer-icons">
        <svg class="footer-icon">
          <use href="./images/symbol-defs.svg#facebook"></use>
        </svg>
        <svg class="footer-icon">
          <use href="./images/symbol-defs.svg#instagram"></use>
        </svg>
      </div>
    </div>
  </div>
?. </footer>
