<header>
    <div class="container">
        <section class="header__box">
    <a href="/src/index.html">
    <svg class="header__logo" width="45px" height="35px">
    <use href="/src/images/symbol-defs.svg#logo-desktop-tablet">    
    </use>
    </svg>
    </a>
    <ul class="header__list">
        <li class="header__item"><a class="navigation" href="">Anemone</a></li>
        <li class="header__item"><a class="navigation" href="">About us</a></li>
        <li class="header__item"><a class="navigation" href="">Store</a></li>
        <li class="header__item"><a class="navigation" href="">Delivery</a></li>
        <li class="header__item"><a class="navigation" href="">Blog</a></li>
    </ul>
    <a href="tel:+380573561111"> 
           <svg class="header__phone" width="22px" height="22px">
        <use href="/src/images/symbol-defs.svg#tel-desktop">
        </use>
    </svg>
    </a>
    <button type="button" class="header__button">
    <svg class="header__menu" width="18px" height="16px">
        <use href="/src/images/symbol-defs.svg#burger">
        </use>
    </svg>
</button>
</section>
</div>
</header>