<body>

    <section class="section-store">
        <h1 class="store-logo">STORE</h1>
        </section>
        
        <ul class="store-list">
        
            <li class="store-card">
                <img class="card-img" src="../images/store1-desktop@1x.jpg" alt="квіти" width="200" />
               <h2 class="card-logo">compliments</h2>
                <p class="card-title">from $15</p>
            </li>
        
            <li class="store-card">
                <img class="card-img" src="../images/store2-desktop@1x.jpg" alt="квіти" width="200" />
                <h2 class="card-logo">bouquets size S</h2>
                 <p class="card-title">from $25</p>
            </li>
        
            <li class="store-card">
                <img class="card-img" src="../images/store3-desktop@1x.jpg" alt="квіти" width="200" />
                <h2 class="card-logo">bouquets size M</h2>
                 <p class="card-title">from $45</p>
            </li>
        
            <li class="store-card">
                <img class="card-img" src="../images/store4-desktop@1x.jpg" alt="квіти" width="200" />
                <h2 class="card-logo">bouquets size L</h2>
                 <p class="card-title">from $60</p>
            </li>
        
        </ul>
        
        <button class="store-button" type="submit">Order flowers</button>
</body>