.about_title {
    @include title(121px);
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
        margin-bottom: 30px;
        @include title(206px);
    }
    @media screen and (min-width: 1280px) {
        margin-bottom: 26px;
    }
}

.about_text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: $standart-color;
    width: 288px;
    height: 140px;
    @media screen and (min-width: 768px) {
        width: 322px;
        height: 168px;
        font-size: 20px;
        line-height: 1.2;
    }
    @media screen and (min-width: 1280px) {
        width: 510px;
        height: 135px;
        font-size: 22px;
        line-height: 1.22;
    }
}

.about {
    padding-bottom: 60px;
    padding-top: 100px;
    @media screen and (min-width:768px) {
        padding-bottom: 100px;
    }
}


.about img {
    width: 288px;
    @media screen and (min-width: 768px){
        width: 344px;
    }
    @media screen and (min-width: 1280px) {
        width: 632px;
    }
}

.about_info {
    display: flex;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 54px;
    }
    @media screen and (min-width: 1280px) {
        gap: 90px;
    }
}