.blog-section {
    margin-top: 60px;
    
    @media screen and (min-width: 768px) {
        margin-top: 100px;
    }

    &__title {
        @include title(85px);
        margin-bottom: 32px; 
        
        @media screen and (min-width: 768px) {
            margin-bottom: 60px; 
            @include title(143px);
        }
        
        @media screen and (min-width: 1280px) {
            margin-bottom: 122px; 
            @include title(150px);
        }
    }

    &__sub-title {
        font-style: normal;
        font-weight: 500;
        text-align: center;
        margin-bottom: 32px;
        margin-top: 28px;
        font-size: 18px;
        line-height: 1.22;

        @media screen and (min-width: 768px) {
            margin-bottom: 40px;
            margin-top: 32px;
            font-size: 32px;
        }
        
        @media screen and (min-width: 1280px) {
            margin-bottom: 40px;
            margin-top: 44px;
        }        
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {

        &:not(:last-child) {
            margin-right: 32px;
        }
    }

    &__button {
        @extend %button;
    }

    &__slider {
        display: flex;
    }
}

.slick-track {
    display: flex;
    align-items: center;
    // justify-content: center;

}

// .slick-slide {
//     // margin: 0 auto;
//     // object-fit: cover;
// }

.slick-next:before, .slick-prev:before{
    color: $button-color;
}

.slick-slide:not(:last-child) {
    margin-right: 8px;
    // object-fit: contain;
    // overflow: hidden;

    @media screen and (min-width: 768px) {
        margin-right: 32px;
    }

    @media screen and (min-width: 1280px) {
        margin-right: 30px;
    }
}