.blog-section {

    &__backdrop {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 2;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition-duration: 500ms;
        transition-delay: 250ms; 
    }

    &__is-hidden {
        transform: scale(0) rotate(180deg);
    }

    &__modal-form {
        position: absolute;
        width: 272px;
        height: 380px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
        @media screen and (min-width: 768px) {
            width: 588px;
            height: 644px;
        }
        
        @media screen and (min-width: 1280px) {
            width: 860px;
            height: 528px;
            display: flex;   
        }
    }

    &__modal-title {
        font-weight: 600;
        font-size: 19px;
        line-height: 1.21;
        text-align: center;
        color: #000000;

        @media screen and (min-width: 768px) {
            font-size: 28px;
        }
    }

    &__modal-info {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.33;
        text-align: center;
        color: #5C5C5C;
        margin-top: 14px;
        margin-bottom: 18px;

        @media screen and (min-width: 768px) {
            font-size: 16px;
            line-height: 1.31;
            margin-top: 24px;
            margin-bottom: 32px;
        }
    }

    &__modal-button {
        width: 236px;
        height: 37px;
        font-size: 14px;
        line-height: 1.21;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E86F54;
        border-radius: 8px;
        color: #ffffff;
        border: none;
        cursor: pointer;
        transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1) 200ms,
        background-color 0.5s cubic-bezier(0.19, 1, 0.22, 1) 200ms,
        color 0.5s cubic-bezier(0.19, 1, 0.22, 1) 200ms, 
        box-shadow 0.5s cubic-bezier(0.19, 1, 0.22, 1) 200ms  ;

        @media screen and (min-width: 768px) {
            font-size: 18px;
            line-height: 1.22;
            width: 336px;
            height: 50px;
        } 

        &:hover,&:focus {
            background-color:transparent;
            color: $button-color-dark; 
            box-shadow: 0px 0px 10px $button-color-dark;
            
        }
    }

    &__modal-wrap {
        width: 272px;
        height: 259px;
        padding: 18px 16px 28px 16px;
        position: relative;
        background-color: #ffffff;

        @media screen and (min-width: 768px) {
            width: 588px;
            height: 373px;
            padding: 28px 118px 40px 118px;
        }  

        @media screen and (min-width: 1280px) {
            width: 432px;
            height: 528px;
            padding: 111px 40px;
        }
    }

    &__img {
        width: 272px;
        height: 121px;

        @media screen and (min-width: 768px) {
            width: 588px;
            height: 271px;
        }  

        @media screen and (min-width: 1280px) {
            width: 428px;
            height: 528px;
        }
    }

    &__close-button {
        width: 18px;
        height: 18px;
        position: absolute;
        border: none;
        background-color: #ffffff;
        padding: 0px;
        top: 14px;
        right: 14px;
        cursor: pointer;
        border-radius: 50%;
        background-color:transparent;
        z-index: 3;

        @media screen and (min-width: 768px) {
            top: 24px;
            right: 24px;
            width: 24px;
            height: 24px;
        }  

        &:hover,&:focus {
            background-color:transparent;
            color: $button-color-dark; 
            box-shadow: 0px 0px 10px $button-color-dark;
        }
    }

    &__label {
        font-weight: 500;
        font-size: 10px;
        line-height: 1.2;
        color: #5C5C5C;

        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 1.21;
        }   
    }

    &__input {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.25;
        color: black;
        // border-color: rgba(0, 0, 0, 0.3);
        width: 236px;
        height: 35px;
        border-radius: 4px;
        padding-left: 12px;
        margin-top: 8px;
        margin-bottom: 28px;
        border: none;
        box-shadow: 0px 0px 10px rgb(111 111 111 / 25%);
        transition-duration: 250ms;
        transition-delay: 250ms;

        @media screen and (min-width: 768px) {
            font-size: 14px;
            line-height: 1.21;
            width: 336px;
            height: 49px;
            margin-bottom: 18px;
        }  

        &:hover,&:focus {
            color: $button-color-dark; 
            box-shadow: 0px 0px 10px $button-color-dark;
        }
    }
}