.header__logo{
     @media screen and (min-width: 768px) {
      width: 72px;
      height: 57px;
  } 
  }
  
  .header__list{
      display: flex;
      margin-left: auto;
      margin-right: auto;
  }
  
  .header__item{
      display: none;
      @media screen and (min-width: 768px) {
          margin-left: 24px;
          display: flex;
      }
      @media screen and (min-width: 1280px) {
          margin-left: 48px;
          display: flex;
      }
      
  }
  
  .header__item:first-child{
      margin-left: 0px;
  }
  
  .navigation{
      font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: $standart-color;
  }
  
  .header__phone{
      width: 20px;
      height: 20px;
  }
  
  .header__box{
      display: flex;
      align-items: center;
      padding-top: 16px;
  }
  
  .header__button{
      display: block;
      border: none;
      background: transparent;
      @media screen and (min-width: 768px) {
          display: none;
      }
  }
  
  .backdrop{
      background-color: $button-color;
      width: 100%;
      position: absolute;
      top: 0px;
      opacity: 1;
      z-index: 1;
      @media screen and (min-width: 768px) {
          display: none;
      }
  }
  
  .menu__close{
    background: transparent;
    border: none;
    margin-left: 275px;
    margin-top: 20px;
    
  }
  
  .menu__cross{
      fill: $main-color;
  }
  
  .menu__list{
    display: block;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 180px;
  }
  
  .menu__item{
    margin-top: 24px;
  }
  
  .menu__nav{
    color: $main-color;
    font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  }
  
  .menu__is-hidden{
      opacity: 0;
      pointer-events: none;
  }
  
  .header__contact{
      border: none;
      padding: 0;
      background: transparent;
  }
  