.hero {
    width: 100%;
    height: 405px;
    background-image: url(../images/hero-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 95px;
    @media screen and (min-width:768px) {
        height: 849px;
        background-image: url(../images/hero-tablet@1x.jpg);
        background-position-y: 119px;
    }
    @media screen and (min-width:1280px) {
        background-position-y: 149px;
        height: 878px;
        animation: hero 4s cubic-bezier(0, 0, 1, 1) 2s both;
    }
}

.hero__svg {
    position: absolute;
    right: 11px;
    top: 205px;
    width: 76px;
    height: 76px;

    @media screen and (min-width:768px) {
        top: 381px;
        right: 19px;
        width: 150px;
        height: 150px;
    }

    @media screen and (min-width:1280px) {
        right: 169px;
        width: 166px;
        height: 166px;
    }
}



.hero__text {
    position: absolute;
    top: 225px;
    left: 27px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: $standart-color;
    width: 46px;

    @media screen and (min-width: 768px) {
        top: 419px;
        left: 73px;
        font-size: 24px;
        width: 76px;
    }

    @media screen and (min-width: 1280px) {
        left: 234px;
        font-size: 32px;
        width: 101px;
    }
}

.hero__position-container {
    position: relative;
    height: 100%;
}

.hero__title {
    position: absolute;
    font-weight: 400;
    font-size: 52px;
    line-height: 1.21;
    color: $standart-color;
    text-align: center;
    top: 342px;
    left: 35px;

    @media screen and (min-width: 768px) {
        font-size: 120px;
        top: 703px;
        left: 96px;
    }

    @media screen and (min-width: 1280px) {
        font-size: 160px;
        line-height: 1.15;
        left: 256px;
        height: 195px;

        &::before {
            content: '';
            display: block;
            border-top: solid 7px $standart-color;
            width: 48px;
            position: absolute;
            right: 14px;
            top: 28px;
        }
    }

}