.hero {
    height: 338px;
    @media screen and (min-width:768px) {
        height: 768px;
    }
    @media screen and (min-width:1280px) {
        height: 793px;
    }
}

.hero__svg {
    position: absolute;
    right: 11px;
    top: 99px;
    width: 76px;
    height: 76px;
    @media screen and (min-width:768px) {
        top: 243px;
        right: 19px;
        width: 150px;
        height: 150px;
    }

    @media screen and (min-width:1280px) {
        right: 169px;
        width: 166px;
        height: 166px;
    }
}

.hero__image {
    margin-left: auto;
    margin-right: auto;
    width: 145px;
    height: 274px;
    @media screen and (min-width:768px) {
        width: 390px;
        height: 636px;
    }
}

.hero__text {
    position: absolute;
    top: 110px;
    left: 27px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    color: $standart-color;
    width: 46px;
    
    @media screen and (min-width: 768px) {
        top: 269px;
        left: 73px;
        font-size: 24px;
        width: 76px;
    }
    @media screen and (min-width: 1280px){
        left: 234px;
        font-size: 32px;
        width: 101px;
    }
}

.hero__position-container {
    position: relative;
    height: 100%;
}

.hero__title {
    position: absolute;
    font-weight: 400;
    font-size: 52px;
    line-height: 1.21;
    color: $standart-color;
    text-align: center;
    bottom: 30px;
    left: 35px;
    @media screen and (min-width: 768px) {
        font-size: 120px;
        bottom: 50px;
        left: 96px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 160px;
        line-height: 1.15;
        left: 256px;
        height: 195px;
        
        &::before {
            content: '';
            display: block;
            border-top: solid 7px $standart-color;
            width: 48px;
            position: absolute;
            right: 14px;
            top: 28px;
        }
    }
    
}