.store-logo {
    padding-left: 24px;
    height: 54px;
    font-size: 44px;
    line-height: 1.22;
    color: $standart-color;
}

.store-list {
    gap: 16px;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    display: flex;
}

.store-title {
    @include title(114px);

    @media screen and (min-width:768px) {
        @include title(194px);
    }
}

.store-section {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;


    .store-button {
        @extend %button;
        margin-top: 32px;
    }

    .card-img {
        width: 130px;
        height: 150px;
    }

    .store-button {
        display: flex;

    }

    .store-list {
        margin-top: 32px;
        list-style: none;
        flex-wrap: wrap;
        display: flex;

    }

    .card-logo {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $standart-color;
    }

    .card-title {
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        color: $standart-color;
        opacity: 0.6;
    }


    @media screen and (min-width: 768px) {

        .card-logo {
            font-weight: 500;
            font-size: 24px;
            line-height: 1.625;
            color: $standart-color;
        }

        .store-button {
            display: flex;

        }

        .store-list {
            margin-top: 60px;
            list-style: none;
            flex-wrap: wrap;
            display: flex;
            gap: 32px;
        }


        .store-button {
            margin-top: 60px;
        }


        .card-img {
            width: 344px;
            height: 399px;
        }

        .card-title {

            font-weight: 600;
            font-size: 24px;
            line-height: 1.2;
            color: $standart-color;
            opacity: 0.6;
        }



    }

    @media screen and (min-width: 1280px) {
        width: 1280px;

        .card-img {
            padding-bottom: 16px;
            width: 550px;
            height: 492px;

        }

        .card-title {
            width: 124px;
            height: 34px;
            font-weight: 600;
            font-size: 28px;
            line-height: 1.21;
            color: $standart-color;
            opacity: 0.6;
        }

        .store-list {
            margin-top: 80px;
            list-style: none;
            flex-wrap: wrap;
            display: flex;

        }

        .card-logo {
            padding-bottom: 4px;
            margin-bottom: 32px;
            font-weight: 500;
            font-size: 36px;
            line-height: 1.22;
            color: $standart-color;
        }
    }


}